
.button  {
  border: none;
  font-family: inherit;
  background-color: #E1E2E1;
  color: #000;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  flex-grow: 1;
  text-align: left;
  width: 500px;
}


.closeButton {
  border: none;
  font-family: inherit;
  background-color: #E1E2E1;
  color: #000;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  flex-grow: 1;
  text-align: right;
  width: 50px;
  height: 50px;
}

.modal {
  position: fixed;
  display: grid;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  padding: 0px;
  top: 30%;
  left: 40%;
  width: 500px;
  height: 300px;
  color: #fff;
}

#modal-container  {
  position: fixed;
  padding: 0px;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: none;

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/


  /* this is used to center the modal */
  display: none;
  text-align: center;
}

#modal-container.is-visible  {
  display:grid;
}



.name {
  color: #000;

}

.pokemonImg {
  text-align: center;
}

li {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

@media all {
  .modal {
    left: 30%;
    top: 40%;
  }

  .button {
    left: 30%;
    top: 40%;
  }
}
